/*============
Page variables
==============*/

:root {
    /*color scheme*/
    --col-contrast-dark: rgb(34, 87, 122);
    --col-highlight-dark: rgb(56, 163, 165);
    --col-contrast-light:rgb(87, 204, 153);
    --col-highlight-light: rgb(128, 237, 153);
    --col-main: rgb(48, 45, 45);
    --col-text: rgb(242,243,245);
  
    /*fonts*/
    --font-main:  Verdana, sans-serif;
    --font-heading: 'Macondo', cursive;
    --font-code: 'Roboto Mono', monospace;
  }
  
  /*======================================
  Back to Basics (reset browser defaults)
  =======================================*/
  html,
  body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
  }
  
  body * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  /*reset default font - never shall Times New Roman be seen again!*/
  :is(h1, h2, h3, h4, h5, h6, p, a, li, figcaption) {
    font-family: Verdana, sans-serif;
  }
  
  :where(ul, ol) {
    list-style: none;
    margin: none;
  }
  
  :where(ul, ol) a {
    text-decoration: none;
    color: inherit;
  }

/*====
LAYOUT
======*/
html {
  background-color: var(--col-main);
  overscroll-behavior: none;
}

body {
  margin: auto;
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
    grid-template-columns: 1fr;
    color: var(--col-text);
}

/*============
HEADER AND NAV
=============*/

header {
    grid-area: header;
    padding: 0.4rem;
    background-color: var(--col-contrast-dark);
background-image: linear-gradient(to bottom, var(--col-contrast-dark), var(--col-highlight-dark) 50%, var(--col-contrast-light));
background-clip: text;
-webkit-background-clip: text;
color: rgba(0, 0, 0, 0.2);
    }

    h1 {
      padding: 0.4rem;
      text-align: center;
      font-family: var(--font-heading);
      font-size: clamp(2.8rem, 3.8rem, 4.8rem);
      font-weight: bold;
      color: rgba(0, 0, 0, 0.2);
    }

nav {
    grid-area: nav;
    padding: 0.4rem;
    }

  .nav_bar {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .nav_bar li {
      display: inline-block;
      flex: 1 1 45%;
    }

    .nav_bar a{
      display: block;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
      text-shadow: 1px 1px 2px var(--col-main);
      letter-spacing: 1px;
      margin: 0.6rem;
      padding: 0.25rem 0.6rem;
      background-color: var(--col-contrast-dark);
      border: var(--col-highlight-dark) 3px solid;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .nav_bar a:where(:hover, :active, :focus) {
      border: var(--col-contrast-dark) 3px solid;
      background-color: var(--col-highlight-dark);
      color: var(--col-main);
    }
    
/*======
SECTIONS
========*/    
main {
    grid-area: main;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0.4rem;
    }

    section {
      padding: 0.4rem;
    }

    h2 {
      margin: 0 0.4rem 1rem;
      padding-block-end: 3px;
      border-block-end: 3px solid var(--col-highlight-dark);
      background-color: var(--col-contrast-dark);
background-image: linear-gradient(to bottom, var(--col-contrast-dark), var(--col-highlight-dark) 50%, var(--col-contrast-light));
background-clip: text;
-webkit-background-clip: text;
color: rgba(0, 0, 0, 0.2);
letter-spacing: 1px;

    }

    .section_nav {
      margin-inline-start: 1rem;
    }

    .section_nav li {
      margin: 0.4rem;
      padding-inline-start: 0.4rem;
      border-inline-start: 5px solid var(--col-highlight-dark);
      border-block-end: 5px solid transparent;
      border-block-start: 5px solid transparent;
    }

    .section_nav li:where(:hover, :active, :focus) {
      border-block-start: 5px solid var(--col-highlight-dark); 
      border-block-end: 5px solid var(--col-highlight-dark);
    }

    .section_nav li a {
      display: block;
    }

    section ul:not(.section_nav) {
      margin-inline-start: 3rem;
      margin-inline-end: 1rem;
      padding: 0.2rem;
      list-style-type: square;
    }
    
    #type_operators {
      padding-inline-start: 1rem;
    }

    #type_operators:where (p, h4) {
      padding-inline-start: 1rem;
    }

    h3 {
      margin: 1rem 0.4rem;
      border-block-end: 3px solid var(--col-contrast-dark);
      letter-spacing: 1px;
    }

    h4 {
      margin: 1rem 0.4rem;
      text-decoration: underline;
      text-decoration-color:  var(--col-contrast-dark);
      text-decoration-style: double;
    }

    p {
      margin: 0.4rem;
      line-height: 1.5;
    }

    .code_word {
      padding: 0 3px;
      font-family: var(--font-code);
      font-weight: bold;
      letter-spacing: 2px;
      background-color: rgba(0,0,0,0.2);

    }

    .codeBlock {
      padding: 0.4rem;
    }

    code {
      display: block;
      width: 90%;
      margin: 1rem auto;
      padding: 0.4rem;
      background-color:rgba(0, 0, 0, 0.2);
      border: 1px solid black;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
      font-family: var(--font-code);
      letter-spacing: 2px;
    }

      code .code_comment {
        font-style: italic;
      }

/*====
 ASIDE
=====*/   
aside {
  grid-area: aside; 
  padding: 0 1rem;
  border-block-start: 4px solid var(--col-highlight-light);
}   

  aside ul {
    margin: 0.4rem;
  }

  aside li {
    border-inline-start: solid 4px var(--col-highlight-light);
  }
  aside a {
    padding: 0.4rem;
    display: block;
  }
  aside a:where(:hover, :active, :focus) {
    background-color: var(--col-highlight-light);
    color: var(--col-main);
    font-weight: bold;
  }

 /*======
   FOOTER
   ======*/  
footer {
    grid-area: footer;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    }

 footer ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
   } 

  footer a {
    font-size: clamp(1.4rem, 1.6rem, 1.8rem);
  } 

  footer a:where(:hover, :active, :focus) {
    background-color: var(--col-highlight-light);
    box-shadow: 1px 1px 5px var(--col-highlight-light),-1px -1px 5px var(--col-highlight-light);
    color: var(--col-main);
  }

/*==============
The little touches
=================*/

/*Back to top shortcut button*/

  
  /*in case of image not found*/
  img {
    position: relative;
    display: inline-block;
  }
  
  img:after {
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border: 1px dashed rgb(211, 211, 211);
    background-color: rgb(112, 128, 144);
    color: #000;
    z-index: 1;
    font-family: verdana;
    font-size: 0.8rem;
    content: "" attr(alt) " was not found";
  }

/*===
A11y
=====*/

@media (prefers-color-scheme: dark) {
    root {
      --col-main: rgb(38,38,38);
      --col-text: rgb(242,243,245);
    }
  
    img {
      filter: brightness(0.8) saturate(1.25);
    }
  }
  
  @media (prefers-color-scheme: light) {
    root {
      --col-main: rgb(242,243,245);
      --col-text: rgb(38,38,38);
    }
  }
  
  /*minimal animation and scroll user preference*/
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /*For screen readers only - removed from page view
span[class~="sr-only"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    -webkit-clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
  }
  
  /*span:not(.sr-only) {} targets all spans except the screen reader so nothing is overwritten if you dont want to use !important*/

/*======================
Ye Olde Time Print View
=======================*/
@media print {
    body * {
      background-color: unset;
      background: none;
      color: #000;
      font-size: 14pt;
      font-weight: normal;
      border: none;
      box-shadow: none;
      text-shadow: none;
    }
  
    /*remove unneeded elements*/
    nav {
      display: none;
    }
  
    /*display links*/
    footer a:link {
      color: #000;
      margin: 0;
      display: block;
      font-size: 10pt;
    }
  
    footer a::after {
      content: " [" attr(href) "]";
    }
  
    footer a:link,
    footer a:visited {
      color: #000;
      background: none;
      padding: 0;
    }
  }